@*@{

    var displayData = new DMS.Foundation.Extension.Models.DisplayData.DisplayDataModel
    {
        Title = "Sample Title",
        Subtitle = "Sample Subtitle",
        Content = "Sample Content"
    };
}

@if (displayData != null)
{
    <div>
        <h4>@(displayData.Title ?? "Title is null")</h4>
        <h4>@(displayData.Subtitle ?? "Subtitle is null")</h4>
        <h4>@(displayData.Content ?? "Content is null")</h4>
    </div>
}
else
{
    <p>Might be null value or configuration problem</p>
}*@


@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model DMS.Foundation.Extension.Models.DisplayData


    @if (Model != null)
    {
        <h1>@Model.Title</h1>
        <h2>@Model.Subtitle</h2>
        <p>@Model.Description</p>
    }